* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  
  section {
    padding: 100px 0;
  }
  
  .max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  
  .about, 
  .skills,
  .projects,
  .contact,
  footer {
    font-family: "Poppins", sans-serif;
  }
  
  .about .about-content,
  .skills .skills-content,
  .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
  }
  
  section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1e3551;
    padding: 0 5px;
    transform: translateX(-50%);
  }
  
  /*  Navbar  */
  
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    background: #092342be;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.1s ease;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .menu li {
    list-style: none;
    display: inline-block;
  }
  
  .navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }
  
  .navbar .menu li a:hover {
    color: #4d75a5;
  }
  
  
  /*  Home  */
  .home {
    display: flex;
    background: url("/bg.jpg")
      center;
    height: 100vh;
    min-height: 500px;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;

  }
  
  .home .max-width {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home .home-content .text-1 {
    font-size: 27px;
    text-align: center;
  }
  
  .home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    text-align: center;
  }
  
  .home .home-content .text-3 {
    font-size: 40px;
    text-align: center;
  }

  .home .home-content .highlight {
    color: #000000; 
    font-weight: 700;
    position: relative;
    text-shadow: 
      -1px -1px 0 #fff, 
      1px -1px 0 #fff,  
      -1px 1px 0 #fff,  
      1px 1px 0 #fff;   
  }
  
  /*  About  */
  .about {
    background: radial-gradient( #6aa3e9, rgb(253, 253, 253));
  }
  .about .title::after {
    content: "—Who I Am ?—";
  }
  
  .about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 600px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .about .about-content .right {
    width: 55%;
  }
  
  .about .about-content .right .text {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
  }
    
  .about .about-content .right a {
    display: inline-block;
    background: #1e3551;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid #1e3551;
    transition: all 0.3s ease;
  }
  
  .about .about-content .right a:hover {
    color: #1e3551;
    background: none;
  }
  
 /* Skills */
.skills {
    background: radial-gradient(#6aa3e9, rgb(253, 253, 253));
}

.skills .title::after {
  content: "—What I Know ?—";
}

.skills .skills-content .left img {
  height: 500px;
  width: 500px; 
  object-fit: cover;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .right .bars {
  margin-bottom: 20px;
}

.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 3px;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: rgb(133, 152, 238);
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #1e3551;
}

.skills-content .right .html::before {
  width: 90%;
}

.skills-content .right .css::before {
  width: 70%;
}

.skills-content .right .js::before {
  width: 20%;
}

.skills-content .right .c::before {
  width: 70%;
}

.skills-content .right .Python::before {
  width: 60%;
}

.skills-content .right .Java::before {
  width: 70%;
}



/* Projects */
.projects {
  background: radial-gradient(#6aa3e9, rgb(253, 253, 253));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: auto;
  overflow: hidden;
}

.title {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.scroll-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.proj-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  max-width: 1000px;
  margin-bottom: 20px;
}

.proj {
  background: #000;
  width: 300px;
  min-height: 250px;
  border-radius: 20px;
  text-align: center;
  border: 10px solid #333;
  padding: 20px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease;
}

.proj .text {
  font-family: "Ubuntu";
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin: 10px 0 7px 0;
}

.proj p {
  text-align: center;
  font-family: "Ubuntu";
  color: white;
}

.proj img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #888c8d;
}

/* Style for buttons container */
.proj .buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Button styles */
.project-link,
.source-code-link {
  display: block;
  text-decoration: none;
  font-family: "Ubuntu";
  color: #fff;
  background-color: rgba(26, 50, 75, 0.8);
  padding: 12px 15px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.project-link:hover,
.source-code-link:hover {
  background-color: rgba(26, 50, 75, 1);
}

/* Hover effect to hide content and show buttons */
.proj:hover .content {
  opacity: 0;
}

.proj:hover .buttons {
  opacity: 1;
}
  
  
  /*  Contact  */
  .contact {
      background: radial-gradient( #6aa3e9, rgb(253, 253, 253));
  }
  
  .contact .title::after {
    content: "—Get in Touch—";
  }
  
  .contact .contact-content .column {
    width: calc(50% - 30px);
  }
  
  .contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .contact .contact-content .left p {
    text-align: justify;
  }
  
  
  .contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  .contact .right form .fields {
    display: flex;
  }
  
  .contact .right form .field,
  .contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .contact .right form .textarea {
    height: 80px;
    width: 100%;
  }
  
  .contact .right form .name {
    margin-right: 10px;
  }
  
  .contact .right form .field input,
  .contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .contact .right form .field input:focus,
  .contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
  }
  
  .contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
  }
  
  .right form .button-area button {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    background: #1e3551;
    border: 2px solid #1e3551;
    transition: all 0.3s ease;
  }
  
  .right form .button-area button:hover {
    color: #1e3551;
    background: none;
  }
  
  /*  Social  */
  .col-4 {
    background: #d8d8d8;
  }
  
  .social-menu ul {
    position: absolute;
    left: 20%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
  }
  
  .social-menu ul li {
    list-style: none;
    margin: 0 15px;
  }
  
  .social-menu ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #000;
  }
  
  .social-menu ul li .fa:hover {
    color: #fff;
  }
  
  .social-menu ul li a {
    left: px;
    right: 12px;
    padding-top: 3px;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1e3551;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  }
  
  .social-menu ul li a:hover {
    transform: translate(0, -10px);
  }
  
  .social-menu ul li:nth-child(1) a:hover {
    background-color: #131418;
  }
  
  .social-menu ul li:nth-child(2) a:hover {
    background-color: #0a66c2;
  }
  
  .social-menu ul li:nth-child(3) a:hover {
    background-color: #ca0953;
  }
  .social-menu ul li:nth-child(4) a:hover {
    background-color: #1da1f2;
  }
  
  
  .fa-brands {
    color: #fff;
  }
  
  .fa-solid {
    color: #fff;
  }
  
  /*  Footer  */
  
  footer span a:hover {
    text-decoration: underline;
  }
  
  /*  Media Query  */
  
  @media screen and (max-width: 600px) 
  {
    .home .home-content .text-1 {
      font-size: 25px;
      text-align: center;
    }
    .home .home-content .text-2 {
      font-size: 50px;
      text-align: center;
    }
    
    .home .home-content .text-3 {
      font-size: 30px;
      text-align: center;
    }
    
    .navbar .max-width {
        display: contents;
        padding-left: 4px;
        padding-right: 4px;
    }

    .navbar .menu li {
       list-style: none;
       display: inline-block;
       padding-left: 0;
     }
  
     .navbar .menu li a {
       margin-left: 20px;
       font-size: 17px;
       font-weight: 300;
     }

    .about .title::after {
      content: "Who I Am?";
      font-size: 18px;
    }

    .about .about-content .left {
      text-align: center;
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
    }

    .about .about-content .left img {
      height: 250px;
      width: 250px;
      object-fit: cover;
      margin: 0 0;
      display: block;  
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    
    .about .about-content .right {
      width: 40%;
      text-align: center;
      flex-basis: 100%;
      margin-bottom: 30px;
    }
    
    .about .about-content .right .text {
      font-size: 35px;
    }
      
    .about .about-content .right a {
      font-size: 18px;
      font-weight: 500;
    }

    .skills {
      display: flex;
      justify-content: center; 
      align-items: center; 
      height: 100vh; 
      text-align: center;
    }
    .skills .title {
      font-size: 45px;
      display: inline-block; 
    }
    
    .skills .title::after {
      content: "What I Know?";
      font-size: 18px;
      white-space: nowrap; 
      display: block; 
      margin-top: 5px; 
      
    }
    
    .skills .skills-content {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      text-align: center;
    }
    
    .skills .skills-content .left {
      text-align: center;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
    }
    
    .skills .skills-content .left img {
      height: 250px;
      width: 250px;
      object-fit: cover;
      border-radius: 50%;
    }
    
    .skills .skills-content .right {
      width: 95%; 
      max-width: 600px; 
      padding-bottom: 50px;
    }
    
    .skills .skills-content .bars {
      margin-bottom: 20px;
    }
    
    .skills .skills-content .info {
      display: flex;
      justify-content: space-between; 
      font-weight: 500;
      font-size: 18px;
    }
    
    .projects .title{
      margin-top: 175px;
    }

    .proj-container {
      display: flex;
      flex-direction: column; 
      gap: 30px;
      align-items: center; 
      animation: none; 
  }
  
  .scroll-container {
      overflow: visible; 
  }
  
  .contact .title {
    font-size: 35px;
  }

  .contact .title::after {
    content: "Get in Touch";
    font-size: 18px;
    white-space: nowrap;
    display: block;
    margin-top: 5px;
  }

  .contact .contact-content .text{
    text-align: center;
  }

  .contact .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact .contact-content .column {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact .contact-content .left p {
    text-align: center; 
    margin-bottom: 50px;
    width: 100%;
  }

  .contact .contact-content .icons {
    align-items: flex-start;
    padding: 0; 
    margin-left: 10px;
  }

  .contact .contact-content .row {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    margin: 0;
  }

  .contact .contact-content .row i {
    margin-left: 0; 
    margin-right: 20px;
    font-size: 25px;
    text-align: left;
  }

 .contact .max-width{
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
 }

  .social-menu ul {
    position: static; 
    transform: none;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0;
    margin: 20px 0; 
  }

  .social-menu ul li {
    margin: 10px 8px; 
  }

  .social-menu ul li .fa {
    font-size: 24px; 
    line-height: 50px; 
  }

  .social-menu ul li a {
    width: 30px;
    height: 30px; 
    box-shadow: none; 
    margin: 0 auto; 
  }

  .contact .column.right {
    width: 100%; 
    padding: 0 5px;
  }

  .contact .right form .fields {
    flex-direction: column; 
    gap: 10px; 
  }

  .contact .right form .field {
    width: 100%;
  }

  .contact .right form .button-area {
    justify-content: center; 
  }

  footer {
    padding: 10px 8px; 
    font-size: 14px; 
    text-align: center; 
  }

  footer a {
    font-size: 14px;
  }
}